.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.pagination {
  text-align: center;
  margin: 5px;
}

.pointer {
  cursor: pointer;
  padding: 2px;
  border: solid 1px;
  margin: 4px;
  padding: 5px;
}
.filter {
  margin: 5px;
  padding: 5px;
}